DATABASE_URL="mysql://root:ftn@localhost:3306/fis_dokumentacija"

NEXTAUTH_SECRET="promena-ovo-pre-produkcije-random-secret-32chars"
NEXTAUTH_URL="http://localhost:3000"
DATABASE_URL="mysql://korisnik:lozinka@localhost:3306/forensic_db"
